<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://i.etsystatic.com/12314924/r/il/6dc549/1232889341/il_794xN.1232889341_n80r.jpg">
</div>
<h2>Personal info:</h2>
<span id="personal">
  <ul>
    <li>
      Name: {{infoName}}
    </li>
    <li>
      Phone: {{infoPhone}}
    </li>
    <li>
      Email: {{infoEmail}}
    </li>
  </ul>  
</span>
<h2>Education info:</h2>
<span id="education">
  <ul>
    <li>
      School: {{education}}
    </li>
  </ul>
  <h2>Work Experience:</h2>
  <span id="workexp">
    <ul>
      <li><app-work-experience></app-work-experience></li>
    </ul>
  </span>
</span>


<router-outlet></router-outlet>
